<!DOCTYPE html>
{% if lang == 'en' %}
  {% set languagecode = 'en' %}
{% else %}
  {% set languagecode = 'no-nb' %}
{% endif %}
<html lang="{{ languagecode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" href="/samfundet.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    {% block script %}
      <script src="/js/functions.js"></script>
    {% endblock %}
    {% block style %}{% endblock %}
  </head>
  <body>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">
      {% if lang == 'en' %}
        <a href="/personvern.php?lang=en">Privacy Policy</a>
      {% else %}
        <a href="/personvern.php">Personvernserklæring</a>
      {% endif %}
    </div>
  </body>
</html>
