{% extends 'html.twig' %}

{% block content %}
  <h1>Personvernserklæring</h1>
  <p>Hei Magne. Skriv inn det du vil her!</p>
  <a href="mailto:example@example.com">example@example.com</a>
  <a href="tel:81549300">81549300</a>
{% endblock %}

