{% extends 'html.twig' %}

{% block content %}
  {% if errorMessage %}
    <p class="error">{{ errorMessage }}</p>
  {% else %}
    <p class="ok">Vellykket registrering!</p>
    <p>Du har fått en bekreftelse på e-post.</p>
    <p>Dette er masse info om ting som er lurt å vite.</p>
  {% endif %}
  <a href="/">Bestill ny test</a>
{% endblock %}
