{% extends 'html.twig' %}

{% block content %}
  {% if lang == 'en' %}
    {% if errorMessage %}
      <p class="error">{{ errorMessage }}</p>
    {% else %}
      <p class="ok">Successful sign up!</p>
      <div>
        <p>You have received confirmation by e-mail:</p>
        <p>
          Time: {{ time }}<br />
          Place: Test station beside Trafon, Høyskoleparken, Klæbuveien 1
        </p>
        <p>Remember to:</p>
        <ul>
          <li>Be precise</li>
          <li>Wear a face mask</li>
          <li>Bring ID</li>
          <li>Bring student ID</li>
        </ul>
      </div>
    {% endif %}
    <a href="/">Sign up for new test</a>
  {% else %}
    {% if errorMessage %}
      <p class="error">{{ errorMessage }}</p>
    {% else %}
      <p class="ok">Vellykket registrering!</p>
      <div>
        <p>Du har fått en bekreftelse på e-post:</p>
        <p>
          Tid: {{ time }}<br />
          Sted: Teststasjon utenfor Trafon, Høyskoleparken, Klæbuveien 1
        </p>
        <p>Husk:</p>
        <ul>
          <li>Møt presis</li>
          <li>Bruk munnbind</li>
          <li>Ta med legitimasjon</li>
          <li>Ta med studentbevis</li>
        </ul>
      </div>
    {% endif %}
    <a href="/">Bestill ny test</a>
  {% endif %}
{% endblock %}
